@import url('https://fonts.googleapis.com/css2?family=Itim&family=Source+Code+Pro&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;

}
#topNavbar{
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    position: fixed !important;
    top: 0px;
    align-items: center;
    height: 60px;
    box-shadow: 0px 0px 5px white;
    z-index: 2;
    background-color: white !important;
}
#food{
    margin-top: 100px;
}
.navbar li{
    list-style-type: none;
}
.navbar li button{
    background-color: white;
    border: none;
    color: black;
}
.navbar li a{
    font-size: 1.5rem;
    color: black;
}
.offcanva{
    display: none;
    transition: all 5s;
    box-shadow: 0px 0px 5px #aaa;
    width: 40%;
    min-width: 300px;
    scroll-behavior: smooth;
    background-color: white;
    transition: all 5s;
    z-index: 3;
    height: 100vh;
    position:fixed;
    top: 0;
}
.offcanva a,.offcanva button{
    display: block;
    padding: 20px;
    box-sizing: border-box;
    transition: all 1s;
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.offcanva button{
    width: 100%;
    text-align: left;
    border: none;
    background-color: white;
}
.offcanva a:hover,.offcanva button:hover{
    background-color: #aaa;
    color: black;
}
.card{
    border: none !important;
}
/* .card-title{
    font-family: 'Itim', cursive;
} */
.card-body{
    padding: 10px 0px !important;
}
.page-link{
    border:none !important;
    color:black !important;
}
#active{
    background-color: black;
    color: white !important;
}
#active:hover{
    background-color: #aaa;
    color: black !important;
}
.page-link:hover:not(#active){
    background-color: black !important;
    color: white !important;
}
.aboutImg{
    width: 60%;
    margin: 25px auto;
    filter: grayscale(100%);
    display: block;
}
footer{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 15px;
    margin: 0px 25px;
    box-sizing: border-box;
    border-top: 1px solid #aaa;
}
footer .box{
    width: 33%;
}
.boxHeader{
    font-size: 30px;
    text-transform: uppercase;
}
#boxRightSpan span{
    display: inline-block;
    padding:1px 2px;
    margin: 5px 0px;
    color: white;
    font-size: 12px;
    background-color: rgb(98, 96, 96);
}
.boxBody{
    display: flex;
    margin: 15px 0px;
    /* justify-content: center; */
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
}
.boxBody span{
    padding: 0px 20px;
    box-sizing: border-box;
}